body {
    display: grid;
    grid-template-areas: 
        "a a"
        "b c";
    grid-template-columns: 10vw 1fr;
}

#title {
    grid-area: a;
    margin: auto;
}

nav {
    grid-area: b;
    background-color: rgb(255, 149, 149);
}

main {
    grid-area: c;
    background-color: rgb(145, 145, 255);
    padding: 20px;
}

.task {
    display: flex;
    background-color: rgb(255, 215, 142);
    width: 80vw;
    padding: 20px;
}

.task-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(206, 206, 206);
    width: 60vw;
    padding: 10px 20px;
    line-height: 300%;
}

.task button {
    height: 2em;
}

.task-card p {
    width: 60vw;
}

.task-card[data-done="true"] {
    background-color: rgb(140, 255, 140);
}

.collapsed p {
    display: none;
}

div[data-priority="not-important"] {
    background-color: rgb(79, 170, 255);
}

div[data-priority="important"] {
    background-color: hsl(60, 100%, 67%);
}

div[data-priority="very-important"] {
    background-color: rgb(255, 83, 83);
}

.hidden {
    display: none;
}