@font-face {
    font-family: "Gothic";
    src: url("./Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Regular.ttf");
}

@font-face {
    font-family: "Gothic medium";
    src: url("./Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Medium.ttf");
}

@font-face {
    font-family: "Gothic bold";
    src: url("./Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Bold.ttf");
}

body {
    display: grid;
    grid-template-areas: 
        "a a"
        "b c";
    grid-template-columns: 15vw 1fr;
    font-family: "Gothic";
    font-size: 14pt;
    --red: hsl(0, 100%, 50%);
    --light-red: hsl(0, 100%, 90%);
    --blue: hsl(209, 100%, 50%);
    --light-blue: hsl(209, 100%, 90%);
    --yellow: hsl(60, 100%, 50%);
    --light-yellow: hsl(60, 100%, 90%);
}

input:focus {
    outline: none;
}

#title {
    font-family: "Gothic";
    font-size: 28pt;
    letter-spacing: 0.12em;
    grid-area: a;
    margin: auto;
    padding: 2%;
}

nav {
    grid-area: b;
    display: flex;
    flex-direction: column;
    padding: 25% 20%;
    border-right: solid 1px hsl(0, 0%, 70%);
}

h2 {
    font-size: 18pt;
}

nav a {
    color: black;
    margin-top: 15%;
    text-decoration: none;
    font-family: "Gothic";
    overflow: hidden;
}

nav a:hover {
    font-family: "Gothic medium";
}

main {
    grid-area: c;
    padding: 5% 1% 2% 4%;
}

#project-input {
    font-family: "Gothic bold";
    font-size: 20pt;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 97%);
    padding: 0.2em 0.2em 0.3em 0.3em;
    width: 10vw;
}

#new-project {
    font-family: "Gothic bold";
    font-size: 18pt;
    color: hsl(0, 0%, 50%);
    line-height: 100%;
    margin-left: 1em;
    width: 1.5em;
    height: 1.5em;
    background-color: hsl(0, 0%, 97%);
    border: solid 1px hsl(0, 0%, 70%);
    border-radius: 50%;
}

#new-project:hover {
    background-color: hsl(0, 0%, 92%);;
}

.project {
    margin-bottom: 3%;
}

.project-header {
    display: flex;
    margin-bottom: 1.5%;
}

h3 {
    font-family: "Gothic bold";
    font-size: 20pt;
}

.delete-project {
    font-weight: 400;
    border: none;
    background-color: transparent;
    font-size: 20pt;
    padding: 0;
    rotate: 45deg;
    margin-left: 1%;
}

.todo-input {
    width: 60vw;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    padding: 1.5%;
    display: grid;
    grid-template-areas:
        "d d e"
        "f f f"
        "g g g"
        ". . h";
    gap: 1em;
}

.todo-input input {
    font-family: "Gothic";
    border: none;
    font-size: 14pt;
    padding: 0.5em;
    border-radius: 5px;
}

.title-input {
    grid-area: d;
    justify-self: start;
}

.date-input {
    grid-area: e;
    justify-self: end;
}

.description-input {
    grid-area: f;
    justify-self: start;
    width: 75%;
    height: 3em;
}

.priority {
    grid-area: g;
    display: none;
}

.todo-input label {
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5em 1em;
}

.priority:checked + label {
    transform: scale(0.85);
}

label[for="not-important"] {
    background-color: var(--light-blue);
    justify-self: right;
}

label[for="important"] {
    background-color: var(--light-yellow);
    justify-self: center;
}

label[for="very-important"] {
    background-color: var(--light-red);
    justify-self: left;
}

.todo-input button {
    padding: 0.25em 0.5em;
    font-size: 14pt;
}

.todo-input .accept {
    grid-area: h;
    justify-self: left;
    margin-left: 20%;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.todo-input .cancel {
    grid-area: h;
    justify-self: center;
    border-radius: 5px;
    margin: 0.15em 2em;
}

.todo-input .delete {
    grid-area: h;
    justify-self: right;
    margin-right: 20%;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.task {
    display: flex;
    width: 80vw;
    padding: 1% 0%;
}

.task-card {
    display: grid;
    grid-template-areas:
        "i j"
        "k k";
    justify-content: space-between;
    background-color: hsl(0, 0%, 95%);
    border: solid 1px hsl(0, 0%, 70%);
    border-radius: 20px;
    width: 60vw;
    padding: 0px 20px;
    max-height: 30vh;
    overflow: hidden;
    transition: max-height 500ms linear;
}

.task-card:hover {
    background-color: hsl(0, 0%, 97%);
}

.collapsed {
    max-height: 3em;
    overflow: hidden;
    transition: max-height 0s;
}

.task-card[data-priority="not-important"] {
    background-color: var(--light-blue);
    border-color: var(--blue);
}

.task-card[data-priority="not-important"]:hover {
    background-color: hsl(209, 100%, 93%);
}

.task-card[data-priority="important"] {
    background-color: var(--light-yellow);
    border-color: var(--yellow);
}

.task-card[data-priority="important"]:hover {
    background-color: hsl(60, 100%, 93%);
}

.task-card[data-priority="very-important"] {
    background-color: var(--light-red);
    border-color: var(--red);
}

.task-card[data-priority="very-important"]:hover {
    background-color: hsl(0, 100%, 93%);
}

.task-card[data-done="true"] {
    background-color: hsl(120, 100%, 90%);
    border-color: hsl(120, 100%, 50%);
}

.task-card[data-done="true"]:hover {
    background-color: hsl(120, 100%, 93%);
}

h4 {
    margin: 1em 0;
}

.task-card .title {
    grid-area: i;
    justify-self: left;
}

.task-card .date {
    grid-area: j;
    justify-self: right;
}

.task-card p {
    grid-area: k;
    margin: 0.5em 1em 1em 0;
    line-height: 2em;
    font-size: 12pt;
    overflow: hidden;
}

.task button {
    height: 2em;
    margin: 1% 0% 1% 2%;
}

.new-todo {
    font-family: "Gothic bold";
    font-size: 18pt;
    color: hsl(0, 0%, 50%);
    line-height: 100%;
    margin: 1% 0%;
    width: 1.5em;
    height: 1.5em;
    background-color: hsl(0, 0%, 97%);
    border: solid 1px hsl(0, 0%, 70%);
    border-radius: 50%;
}

.new-todo:hover {
    background-color: hsl(0, 0%, 92%);;
}

.hidden {
    display: none;
}